.error-page h1, .error-page p{
    text-align: center;
}

.error-page{
    margin-top: 30px;
    padding: 16px;
    margin-bottom: 100px;
}

.error-page p{
    font-size: 14.3px;
    color: #667085;
}

.error-page button{
    margin: 0 auto;
    align-items: center;
    display: flex;
    margin-top: 16px;
    padding: 14px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-align: center;
    background: var(--secondary-gradient-40, linear-gradient(130deg, #F736C7 5.21%, #C539C4 28.13%, #903ABB 51.04%, #5938AD 75%, #039 100%));
}